.MuiDataGrid-selectedRowCount {
    display: none !important;
}

.main-wrap {
    display: flex;
    justify-content: space-around;
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 300px;
    margin-bottom: 50px;
}

.mb-25 {
    margin-bottom: 25px;
}